In [3]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_iris

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import tree

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import cross_val_score, train_test_split

In [4]:
iris = load_iris()

In [5]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [7]:
inputs = pd.DataFrame(iris.data, columns = iris.feature_names)
target = pd.DataFrame(iris.target, columns = ['target'])

In [8]:
inputs

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
target

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 1 columns]

### Logistic regression

In [15]:
np.average(cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), iris.data, iris.target, cv=10 ))

0.9533333333333334

In [11]:

np.average(cross_val_score(LogisticRegression(), iris.data, iris.target, cv=10 ))

0.9733333333333334

### Support Vector Machine

In [12]:
np.average(cross_val_score(SVC(), iris.data, iris.target, cv=10 ))

0.9733333333333334

In [16]:
np.average(cross_val_score(SVC(gamma='auto'), iris.data, iris.target, cv=10 ))

0.9800000000000001

### Random Forest Classifier

In [13]:
np.average(cross_val_score(RandomForestClassifier(), iris.data, iris.target, cv=10 ))

0.96

In [21]:
np.average(cross_val_score(RandomForestClassifier(n_estimators=30,criterion='entropy'), iris.data, iris.target, cv=10 ))

0.9666666666666666

### Decision Tree

In [22]:
np.average(cross_val_score(tree.DecisionTreeClassifier(criterion='entropy'), iris.data, iris.target, cv=10 ))

0.9533333333333334

### <span style='color:blue'>-> SVC performs better</span>